<!DOCTYPE html>
<html>

<head></head>

<body>
    <h2>Golden jubilee</h2><hr/>
    Article   <a href="https://en.wikipedia.org/wiki/Talk:Golden_jubilee">Talk</a>
    <p>From wikipedia, the free encyclopedia</p>

    <i>This article is about the anniversary celebration. For the diamond, see </i><a href="https://en.wikipedia.org/wiki/Golden_Jubilee_Diamond"><i>Golden Jubilee Diamond. </a><br/>"Golden anniversary" redirects here. For the symbology, see </i><a href="https://en.wikipedia.org/wiki/Anniversary#Anniversary_symbols"><i>Anniversary & Anniversary_symbols. </a></i>

    <p>A <b>golden jubilee</b> marks a 50th <a href="https://en.wikipedia.org/wiki/Anniversary">anniversary. </a>It variously is applied to people, events, and nations. </p>
    
   <strong>Bangladesh</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=1">[edit]</a><hr/>

   <i>Main article: </i><a href="https://en.wikipedia.org/wiki/Vision_2021"><i>Vision 2021</i></a><br/>
   <i>See also:</i><a href="https://en.wikipedia.org/wiki/Golden_Jubilee_of_the_Independence_of_Bangladesh"><i>Golden Jubilee of the Independence of Bangladesh</i></a>

   <p>In <a href="https://en.wikipedia.org/wiki/Bangladesh">Bangladesh</a>, golden jubilee refers the 50th anniversary year of the separation from <a href="https://en.wikipedia.org/wiki/Pakistan">Pakistan </a>and is called in <a href="https://en.wikipedia.org/wiki/Bengali_language">Bengali </a>"সুবর্ণ জয়ন্তী" (<i>Shuborno jayanti</i>).<b>Vision 2021</b> was the political manifesto of the Bangladesh <a href="https://en.wikipedia.org/wiki/Awami_League">Awami League</a> party before winning the National Elections of 2008. It stands as a political vision of Bangladesh for the year 2021, the golden jubilee of the nation. Several celebration programs will be held in countries including India, Russia, Germany, Sweden, Hungary, Poland, Nepal and Bhutan.<sup><a href="dfsdf">[1]</a></sup></p>

   <strong>China</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=2">[edit]</a><hr/>

   <ul>
   <li><a href="https://en.wikipedia.org/wiki/Emperor_Wu_of_Han">Emperor Wu</a> of <a href="https://en.wikipedia.org/wiki/Han_dynasty"> Han dynasty </a>(141-87 <a href="https://en.wikipedia.org/wiki/Common_Era">BCE,</a> Jubilee in 91 BCE)</li>
   <li><a href="https://en.wikipedia.org/wiki/Kangxi_Emperor">Kangxi Emperor</a> of <a href="https://en.wikipedia.org/wiki/Qing_dynasty"> Qing dynasty </a>(1661-1722, Jubilee in 1711)</li>
   <li><a href="https://en.wikipedia.org/wiki/Qianlong_Emperor">Qianlong Emperor</a> of Qing dynasty (1735-1796, Jubilee in 1785)</li>
   </ul>

   <strong>Bangladesh</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=3">[edit]</a><hr/>

   <ul>
    <li><a href="https://en.wikipedia.org/wiki/Yeongjo_of_Joseon">Yeongjo of Joseon</a> (1724-1776, Jubilee in 1774)</li>
   </ul>

   <strong>Japan</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=4">[edit]</a><hr/>

   <p>In <a href="https://en.wikipedia.org/wiki/Japan">Japan, </a>golden jubilee refers to the 50th anniversary and is called <i>Go-Zai-i gojūnen kinen</i> (御在位50年記念).<a href="https://en.wikipedia.org/wiki/Emperor"> Emperor</a> <a href="https://en.wikipedia.org/wiki/Hirohito"> Hirohito</a> (or <a href="https://en.wikipedia.org/wiki/Hirohito">Emperor Shōwa</a>), celebrated his golden jubilee on 10 November 1976. <a href="https://en.wikipedia.org/wiki/Showa_Memorial_Park">Showa Memorial Park</a> was established as part of a project to commemorate his golden jubilee.</p>

   <strong>Singapore</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=5">[edit]</a><hr/>

   <ul>
    <li>For the year 2015, the <b>"Singapore50"</b> initiative was launched in <a href="https://en.wikipedia.org/wiki/Singapore">Singapore</a> to celebrate 50 years of independence from <a href="https://en.wikipedia.org/wiki/Malaysia">Malaysia, </a>with a logo that spells "SG50". The term <b>SG50</b> has since been used to refer to the celebrations as a whole.<sup>[2]</sup> <a href="https://en.wikipedia.org/wiki/Singapore_National_Day_parade">National Day Parade</a> ceremonies for that year were themed <i>Majulah Singapura - Our Golden Jubilee.</i></li>
   </ul>

   <strong>Thailand</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=6">[edit]</a><hr/>

   <p><i>The golden jubilee </i>is a royal ceremony to celebrate the 50th anniversary of the accession of the king. The Thai word is <i>kanchanaphisek</i> (กาญจนาภิเษก). The first Golden Jubilee of Thailand was the celebration of <a href="https://en.wikipedia.org/wiki/Bhumibol_Adulyadej"> King Bhumibol Adulyadej.</a></p>

   <strong>The celebration</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=7">[edit]</a>

   <p>King <a href="https://en.wikipedia.org/wiki/Bhumibol_Adulyadej">Rama IX</a> celebrated his golden jubilee on 9 June 1996, having acceded to the throne in 1946. He was Thailand's longest-reigning monarch.</p>

   <p>The 545.65 <a href="https://en.wikipedia.org/wiki/Carat_(mass)">carat </a><a href="https://en.wikipedia.org/wiki/Golden_Jubilee_Diamond">Golden Jubilee Diamond</a>  was purchased by Thai businessmen as a gift for the king on the 50th anniversary of his <a href="https://en.wikipedia.org/wiki/Coronation_of_the_Thai_monarch"> coronation.</a><sup>[3]</sup>The diamond is held in the Royal Palace as part of Thailand's <a href="https://en.wikipedia.org/wiki/Crown_jewels">crown jewels.</a></p>

   <p>In 1996, <a href="https://en.wikipedia.org/wiki/Prime_Minister_of_Thailand">Prime Minister</a> <a href="https://en.wikipedia.org/wiki/Banharn_Silpa-archa">Banharn Silpa-archa</a> and the Thai people celebrated the king with a multi-day celebration.</p>

   <strong>The symbol of the golden jubilee</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=8"> [edit]</a>

   <p>The symbol of the golden jubilee of King Bhumibol Adulyadej was designed by Wiyada Charoensuk, winner of a design contest.</p>

   <p>There are three elements to the design:</p>

   <ul>
    <li>The king's throne (in center) is a sign of the <a href="https://en.wikipedia.org/wiki/Chakri_dynasty">Chakri dynasty </a>(the dynasty of King Bhumibhol)</li>
    <li>White tiered umbrellas of kingship, representing the constitution of Thailand</li>
    <li>Two elephants, representing the Thai people</li>
   </ul>

   <p>The Fine Arts Department wanted this design to:</p>

   <ul>
    <li>Celebrate the king</li>
    <li>Help Thai people remember Thailand's traditions</li>
    <li>Show that Thais are proud to be subjects of the king</li>
    <li>Show that Thais have a long history as a nation</li>
   </ul>

   <strong>Places named after the Golden Jubilee</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=9">[edit]</a>

   <ul>
    <li><a href="https://en.wikipedia.org/wiki/Kanchanaphisek_Road">Kanchanaphisek Road</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Kanchanaphisek_Bridge">Kanchanaphisek Bridge</a></li>
   </ul>

   <strong>United Kingdom and other Commonwealth realms</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=10">[edit]</a><hr/>

   <p>In the <a href="https://en.wikipedia.org/wiki/United_Kingdom">United Kingdom </a>and other <a href="https://en.wikipedia.org/wiki/Commonwealth_realm>">Commonwealth realms, </a>a golden jubilee celebration is held in the 50th year of a <a href="https://en.wikipedia.org/wiki/Monarch">monarch's </a>reign.</p>

   <strong>For King George III</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=11">[edit]</a>

   <p><i>Main article</i>: <a href="https://en.wikipedia.org/wiki/Golden_Jubilee_of_George_III"><i> Golden Jubilee of George III</i></a></p>

   <p><a href="https://en.wikipedia.org/wiki/George_III">George III </a>of the United Kingdom's golden jubilee was celebrated on 25 October 1809, prior to the actual 50th anniversary in 1810.</p>

   <strong>For Queen Victoria</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=12">[edit]</a><br/><br/>

   <i>Main article:</i> <a href="https://en.wikipedia.org/wiki/Golden_Jubilee_of_Queen_Victoria"> <i>Golden Jubilee of Queen Victoria</i></a>

   <p>In 1887 the United Kingdom and the <a href="https://en.wikipedia.org/wiki/British_Empire"> British Empire</a> celebrated <a href="https://en.wikipedia.org/wiki/Queen_Victoria"> Queen Victoria's</a> golden jubilee. Victoria marked 20 June 1887—the fiftieth anniversary of her accession—with a banquet, to which fifty European kings and princes were invited. Although she could not have been aware of it, there was a plan by <a href="https://en.wikipedia.org/wiki/Fenian_Brotherhood">Irish Republicans </a> to blow up <a href="https://en.wikipedia.org/wiki/Westminster_Abbey"> Westminster Abbey</a> while the Queen attended a service of thanksgiving. This assassination attempt, when it was discovered, became known as the <a href="https://en.wikipedia.org/wiki/Jubilee_Plot"> Jubilee Plot.</a> At the time, Victoria was an extremely popular monarch.</p>


   <strong>For Queen Elizabeth II</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=13">[edit]</a><br/><br/>

   <i>Main article:</i> <a href="https://en.wikipedia.org/wiki/Golden_Jubilee_of_Elizabeth_II"> <i>Golden Jubilee of Elizabeth II</i></a>

   <p><a href="https://en.wikipedia.org/wiki/Elizabeth_II">Elizabeth II </a>celebrated <a href="https://en.wikipedia.org/wiki/Golden_Jubilee_of_Elizabeth_II">her golden jubilee </a>  in 2002, having ascended the throne in 1952.</p>

   <strong>In other countries</strong> <a href="https://en.wikipedia.org/w/index.php?title=Golden_jubilee&action=edit&section=14">[edit]</a><hr/>

   <ul>
    <li><a href="https://en.wikipedia.org/wiki/Brunei">Brunei, </a><a href="https://en.wikipedia.org/wiki/Abdul_Jalilul_Akbar"> Abdul Jalilul Akbar </a>celebrated his golden jubilee in 1648.</li>
    <li><a href="https://en.wikipedia.org/wiki/Brunei">Brunei, </a><a href="https://en.wikipedia.org/wiki/Omar_Ali_Saifuddin_I">Omar Ali Saifuddin </a>I celebrated his golden jubilee in 1790.</li>
    <li><a href="https://en.wikipedia.org/wiki/Bavaria">Bavaria, </a><a href="https://en.wikipedia.org/wiki/Charles_Theodore,_Elector_of_Bavaria">Charles Theodore, Elector of Bavaria </a> celebrated his golden jubilee as<a href="https://en.wikipedia.org/wiki/List_of_counts_palatine_of_the_Rhine"> Elector Palatine</a> in 1792.</li>
    <li><a href="https://en.wikipedia.org/wiki/Saxe-Weimar-Eisenach">Saxe-Weimar-Eisenach, </a>Grand Duke <a href="https://en.wikipedia.org/wiki/Karl_August,_Grand_Duke_of_Saxe-Weimar-Eisenach"> Karl August </a> celebrated his golden jubilee in 1826, dating from when he reached his majority.</li>
    <li><a href="https://en.wikipedia.org/wiki/Austria-Hungary">Austria-Hungary,</a> Emperor <a href="https://en.wikipedia.org/wiki/Franz_Joseph_I_of_Austria">Franz Josef</a>  celebrated his golden jubilee in 1898.</li>
    <li><a href="https://en.wikipedia.org/wiki/Baden">Baden,</a> Grand Duke <a href="https://en.wikipedia.org/wiki/Frederick_I,_Grand_Duke_of_Baden"> Frederick I</a>celebrated his golden jubilee in 1906, dated from when he became regent to his brother before succeeding to the throne.</li>
    <li><a href="https://en.wikipedia.org/wiki/Liechtenstein">Liechtenstein,</a> Prince<a href="https://en.wikipedia.org/wiki/Johann_II,_Prince_of_Liechtenstein" target="_blank"> Johann II </a>celebrated his golden jubilee in 1908.</li>
   </ul>
</body>
</html>